body {
  background: #BCDEFA;
  background: #BCE2FA;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

body h1 {
  color: #12283A;
}

#todo-form {
  position: relative;
  width: 95%;
  background: #FFFFFF;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#todo-form form:after {
  margin: 0;
  content: '';
  display: block;
  clear: both;
}

input[type="text"] {
  width: 70%;
  padding: 20px;
  background: #FFFFFF;
  border: 0;
  float: left;
  font-size: 20px;
  color: black;
  border: 0.3px #3490DC solid;
}

button { 
  padding: 20px;
  width: 30%;
  float: left;
  background: #3490DC;
  border: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: arial;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
}

li:hover {
  text-decoration: line-through;
  background: rgba(188, 222, 250, 0.43);
}

h1 {
  background: url(/assets/logo.svg) no-repeat center;
  margin-bottom: 0;
}
